#ui_chat {
    background: #ccc;
    height: 500px;
}
#ui_chat_messages {
    background: #eee;
}
#userDisplay {
    color: #000;
    margin-right: 10px;
}

h3 { font-size: 1.2rem;}

.hide { display : none; }
.noAuthenticated {
    text-align:center;
    margin-top:50px;
}
#listingUsers, #listingChannels { list-style: none; padding: 0;}

#listingChannels li.active {
    font-weight: bold;
    background:#999;
}
.message-time {
    color: #888;
    font-size: 0.8em;
    margin-right: 10px;
}

.message-author {
    font-weight: bold;
    margin-right: 5px;
}

.message-content {
    color: #333;
}

